name: aqua
description: AQUA - Bitcoin & Layer 2 Wallet

publish_to: "none"

version: 0.2.6+148

environment:
  sdk: "3.3.3"
  flutter: 3.19.5

dependencies:
  app_settings: ^5.1.1
  async: ^2.11.0
  bech32: ^0.2.2
  bolt11_decoder: ^1.0.2
  boltz_dart:
    git:
      url: https://github.com/SatoshiPortal/boltz-dart.git
      ref: trunk
  collection: ^1.17.1
  convert: ^3.1.1
  crypto: ^3.0.3
  cupertino_icons: ^1.0.2
  decimal: ^2.3.3
  device_preview: ^1.1.0
  dio: ^5.3.2
  dotted_border: ^2.1.0
  encrypt: ^5.0.3
  ffi: ^2.0.2
  file_picker: ^8.0.0+1
  flutter:
    sdk: flutter
  flutter_client_sse: ^2.0.0
  flutter_file_saver: ^0.6.2
  flutter_hooks: ^0.20.5
  flutter_keyboard_visibility: ^6.0.0
  flutter_localizations:
    sdk: flutter
  flutter_native_splash: ^2.3.13
  flutter_riverpod: ^2.4.0
  flutter_rust_bridge: 2.0.0-dev.31
  flutter_screenutil: ^5.8.4
  flutter_secure_storage: ^9.0.0
  flutter_svg: ^2.0.7
  freezed_annotation: ^2.4.1
  google_fonts: ^6.2.1
  hooks_riverpod: ^2.3.6
  http: ^0.13.6
  image_picker: ^1.0.1
  intl: any
  isar: ^3.1.0+1
  isar_flutter_libs: ^3.1.0+1
  json_annotation: ^4.8.1
  local_auth: ^2.1.8
  logger: ^2.2.0
  lottie: ^3.1.0
  mobile_scanner: ^4.0.1
  mocktail: ^1.0.2
  nanoid: ^1.0.0
  package_info_plus: ^6.0.0
  path_provider: ^2.1.1
  percent_indicator: ^4.2.3
  permission_handler: ^11.0.1
  pointycastle: ^3.7.3
  pull_to_refresh_flutter3: ^2.0.2
  qr_flutter: ^4.1.0
  restart_app: ^1.2.1
  riverpod_annotation: ^2.1.1
  rxdart: ^0.27.7
  share_plus: ^8.0.2
  shared_preferences: ^2.2.0
  skeletonizer: ^1.0.1
  url_launcher: ^6.1.12
  web_socket_channel: ^2.1.0
  webview_flutter: ^4.2.2

dev_dependencies:
  build_runner: ^2.4.6
  ffigen: ^11.0.0
  flutter_gen_runner: ^5.8.0
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^3.0.2
  flutter_test:
    sdk: flutter
  freezed: ^2.4.1
  integration_test:
    sdk: flutter
  isar_generator: ^3.1.0+1
  json_serializable: ^6.7.1
  riverpod_generator: ^2.3.3
  riverpod_lint: ^2.1.1
  test: ^1.24.1

dependency_overrides:
  http: ^0.13.5

global_options:
  freezed:freezed:
    runs_before:
      - isar:isar_generator

flutter:
  generate: true

  uses-material-design: true

  assets:
    - assets/
    - assets/svgs/
    - assets/svgs/dark/
    - assets/svgs/light/
    - assets/asset_icons/
    - assets/animations/
    - assets/fonts/
    - assets/fonts/helvetica/
    - assets/fonts/dm_sans/
    - assets/icon/
    - assets/marketplace/
    - assets/flags/

  fonts:
    - family: HelveticaNeue
      fonts:
        - asset: assets/fonts/helvetica/HelveticaNeue-Medium.otf
        - asset: assets/fonts/helvetica/HelveticaNeue-Thin.otf
          weight: 100
        - asset: assets/fonts/helvetica/HelveticaNeue-UltraLight.otf
          weight: 200
        - asset: assets/fonts/helvetica/HelveticaNeue-Light.otf
          weight: 300
        - asset: assets/fonts/helvetica/HelveticaNeue-Regular.otf
          weight: 400
        - asset: assets/fonts/helvetica/HelveticaNeue-Bold.otf
          weight: 700
        - asset: assets/fonts/helvetica/HelveticaNeue-Heavy.otf
          weight: 800
        - asset: assets/fonts/helvetica/HelveticaNeue-Black.otf
          weight: 900
    - family: DMSans
      fonts:
        - asset: assets/fonts/dm_sans/DMSans-Medium.ttf
        - asset: assets/fonts/dm_sans/DMSans-MediumItalic.ttf
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-Thin.ttf
          weight: 100
        - asset: assets/fonts/dm_sans/DMSans-ThinItalic.ttf
          weight: 100
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/dm_sans/DMSans-ExtraLightItalic.ttf
          weight: 200
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-Light.ttf
          weight: 300
        - asset: assets/fonts/dm_sans/DMSans-LightItalic.ttf
          weight: 300
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-Regular.ttf
          weight: 400
        - asset: assets/fonts/dm_sans/DMSans-Italic.ttf
          weight: 400
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/dm_sans/DMSans-SemiBoldItalic.ttf
          weight: 600
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-Bold.ttf
          weight: 700
        - asset: assets/fonts/dm_sans/DMSans-BoldItalic.ttf
          weight: 700
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/dm_sans/DMSans-ExtraBoldItalic.ttf
          weight: 800
          style: italic
        - asset: assets/fonts/dm_sans/DMSans-Black.ttf
          weight: 900
        - asset: assets/fonts/dm_sans/DMSans-BlackItalic.ttf
          weight: 900
          style: italic

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/app_icon.jpg"
  remove_alpha_channel_ios: true
  adaptive_icon_background: "#00C7F9"
  adaptive_icon_foreground: "assets/icon/app_icon_foreground.png"

fonts:
  - family: HelveticaNeue
    fonts:
      - asset: assets/fonts/HelveticaNeueHeavy.ttf
        weight: 800
      - asset: assets/fonts/HelveticaNeueBold.ttf
        weight: 700
      - asset: assets/fonts/HelveticaNeueMedium.ttf
        weight: 500
      - asset: assets/fonts/HelveticaNeueRegular.ttf
        weight: 400
      - asset: assets/fonts/HelveticaNeueLight.ttf
        weight: 300
      - asset: assets/fonts/HelveticaNeueThin.ttf
        weight: 200

flutter_native_splash:
  color: "#00C7F9"
  android_12:
    color: "#00C7F9"

flutter_gen:
  integrations:
    flutter_svg: true
    flare_flutter: true
    rive: true
    lottie: true
  assets:
    enabled: true
    outputs:
      class_name: UiAssets
      package_parameter_enabled: false
  fonts:
    enabled: true
    outputs:
      class_name: UiFontFamily

ffigen:
  output: "lib/ffi/generated_bindings.dart"
  headers:
    entry-points:
      - "crypto/gdk/include/gdk/gdk.h"
      - "boltz-rust/bindings.h"
  include-directories:
    - "/usr/include"
    - "/usr/local/include"
  typedefs:
    include:
      - ".*"
  functions:
    expose-typedefs:
      include:
        - ".*"
  symbol-address:
    include:
      - ".*"
  structs:
    exclude:
      - "(.*)sigaction(.*)"
  unions:
    exclude:
      - "(.*)sigaction(.*)"
  llvm-path:
    - "/nix/store/wxxgsgjxbnkkyczgf8lkbfrsqiywm8bi-clang-17.0.6-lib"
    - "/opt/local/libexec/llvm-10"
    - "/Library/Developer/CommandLineTools/usr"
    - "\\opt\\llvm"
